.list-group-item, .list-group-item:last-child {
    user-select: none;
    margin-bottom: 7px;
    width: 85vw;
    max-width: 600px;
    border-radius: 8px;
}

.list-group input[type="radio"] {
    display: none;
}

.list-group input[type="radio"] + .list-group-item {
    cursor: pointer;
}

.list-group input[type="radio"]:checked + .list-group-item {
    color: white;
    background-color: rgb(88, 88, 88);
  }