/* Universal */

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../images/keyboard_bg_lg.jpg");
}

.btn.btn-lg:disabled {
    background-color: transparent;
    font-weight: normal;
    color: rgba(128, 128, 128, 0.514);
}

.btn.btn-lg:disabled:hover {
    background-color: transparent;
    color: rgba(128, 128, 128, 0.514);
}

.btn.btn-lg {
    color: white;
    border: 1px solid white;
}

.btn.btn-lg:hover {
    color: white;
    background-color: #B5001F;
}

/* Media Queries */

@media only screen and (max-width: 1300px) {
    body {
        background-image: url("../images/keyboard_bg_sm.jpg");
    }
}

@media only screen and (max-width: 560px) {
    html {
        font-size: 16px;
    }
}