.keyboard {
    background-image: url("../images/keyboard.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    transition: padding 750ms ease-in-out 200ms;
    border-bottom: 2px solid white;
}

.slim-keyboard {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.quiz {
    transition: max-width 1s;
}

.slim-quiz {
    max-width: 250px;
}