.keyboard {
    background-image: url("../images/keyboard.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 1rem;
    border-bottom: 2px solid white;
}

.quiz {
    transition: max-width 1s;
}

.slim-quiz {
    max-width: 200px;
}